.spotify_button{
    background-color: #18bd55;
    border: 1px solid black;
    color: #d0d0d5;
    font-size: 0.9em;
    font-family: Outfit-Medium ,Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px #18bd55;
}


.spotify_button:hover{
    color: rgb(234, 232, 232);
    box-shadow: 0 0 3px #18bd55;

}

.spotify_button:active{
    background-color: #12c453;
    color: white;
    box-shadow: 0 0 4px #18bd55;

}

.artist_profile_button{
    background-color: #18bd55;
    border: 1px solid black;
    color: #d0d0d5;
    font-size: 0.9em;
    font-family: Outfit-Medium ,Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px #18bd55;
}


.artist_profile_button:hover{
    color: rgb(234, 232, 232);
    box-shadow: 0 0 3px #18bd55;

}

.artist_profile_button:active{
    background-color: #12c453;
    color: white;
    box-shadow: 0 0 4px #18bd55;

}


.play_button{
    background-color: #a8a5b6;
    border: 1px solid black;
    color: #d0d0d5;
    font-size: 0.9em;
    font-family: Outfit-Medium ,Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px #a8a5b6;
}


.play_button:hover{
    color: rgb(234, 232, 232);
    box-shadow: 0 0 3px #a8a5b6;

}

.play_button:active{
    background-color: #82808b;
    color: white;
    box-shadow: 0 0 4px #a8a5b6;

}

.pause_button{
    background-color: #9485ec;
    border: 1px solid black;
    color: #d0d0d5;
    font-size: 0.9em;
    font-family: Outfit-Medium ,Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px #9485ec;
    animation: borderAnimation 4s forwards;

}


.pause_button:hover{
    color: rgb(234, 232, 232);
    box-shadow: 0 0 3px #9485ec;

}

.pause_button:active{
    background-color: #6c61ac;
    color: white;
    box-shadow: 0 0 4px #9485ec;

}


.no_preview_button{
    background-color: #b35a4f;
    border: 1px solid black;
    color: #d0d0d5;
    font-size: 0.9em;
    font-family: Outfit-Medium ,Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px #ec250b;
    position: relative;
    display: inline-block;
}



