.artist_image {
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5;
    opacity: 1;
    transition: opacity 0.2s linear;
    box-shadow: 1px 1px 10px 1px rgba(200,255,200,0.3);
}

.artist_image img{
    opacity: 1;
    z-index: 2;
}

.artist_image button{
    display: none;
    z-index: 1;
}

.artist_image:hover img{
    opacity: 0.5;

}

.artist_image:hover button{
    z-index: 3;
    display: inline;
}


